[Unit]
Description=RingQ NX Device Provisioning API
After=network.target
Documentation=https://github.com/Cal4Care-Developers/proxytunnel

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/ringq-provision-api
Restart=always
RestartSec=5
Environment=RINGQ_API_PORT=8099
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ringq-provision

[Install]
WantedBy=multi-user.target
